<a href="https://colab.research.google.com/github/tahereh220/Python-I-II/blob/main/class_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cells
A notebook is a list of cells. Cells contain either explanatory text or executable code and its output. Click a cell to select it.

## Code cells
Below is a **code cell**. Once the toolbar button indicates CONNECTED, click in the cell to select it and execute the contents in the following ways:

* Click the **Play icon** in the left gutter of the cell;
* Type **Cmd/Ctrl+Enter** to run the cell in place;
* Type **Shift+Enter** to run the cell and move focus to the next cell (adding one if none exists); or
* Type **Alt+Enter** to run the cell and insert a new code cell immediately below it.

There are additional options for running some or all cells in the **Runtime** menu.

In [13]:
a = 10
a

10

## Text cells
This is a **text cell**. You can **double-click** to edit this cell. Text cells
use markdown syntax. To learn more, see our [markdown
guide](/notebooks/markdown_guide.ipynb).

You can also add math to text cells using [LaTeX](http://www.latex-project.org/)
to be rendered by [MathJax](https://www.mathjax.org). Just place the statement
within a pair of **\$** signs. For example `$\sqrt{3x-1}+(1+x)^2$` becomes
$\sqrt{3x-1}+(1+x)^2.$

##Creating a Comment
Comments starts with a #, and Python will ignore them:

In [23]:
#This is a comment
print("Hello, World!")

Hello, World!

##Python Data Types
Variables can store data of different types.
Python has the following data types built-in by default, in these categories:

*   Text Type: **str**

>>\n : Line change.
>>
>>\t : Tab.
>>
>>\\ : Backslash character.
>>
>>r : Carriage return.
>>
>>\a : Bell.
>>
>>\b : Back space.


*   Numeric Types: **int, float, complex**
*   Boolean Type: **bool**
*   Sequence Types: **list, tuple, range**
*   Mapping Type: **dict**
*   Set Types: **set, frozenset**

In [122]:
print("type(´Hi´) : ", type("Hi!"))

type(´Hi´) :  <class 'str'>

In [123]:
print("type(5) : ", type(5))

type(5) :  <class 'int'>

In [124]:
print("type(0o123)", type(0o123))   # Octal

type(0o123) <class 'int'>

In [125]:
print("type(0xFFAA)", type(0xFFAA)) # Hexadecimal

type(0xFFAA) <class 'int'>

In [126]:
print("type(5.3) : ", type(5.3))

type(5.3) :  <class 'float'>

In [127]:
print("type(5j) : ", type(5j))

type(5j) :  <class 'complex'>

In [128]:
print("type(True) : ", type(True))

type(True) :  <class 'bool'>

In [129]:
print("type(False) : ", type(False))

type(False) :  <class 'bool'>

In [130]:
print("type(range(2,6)) : ", type(range(2,6)))

type(range(2,6)) :  <class 'range'>

In [137]:
print("type([1 , 2, 2, 100.5]) : ", type([1 , 2, 2, 100.5]))

type([1 , 2, 2, 100.5]) :  <class 'list'>

In [138]:
print("type((1 , 2, 2, 100.5)) : ", type((1 , 2, 2, 100.5)))

type((1 , 2, 2, 100.5)) :  <class 'tuple'>

In [139]:
print("type({1 , 2, 2, 100.5}) : ", type({1 , 2, 2, 100.5}))

type({1 , 2, 2, 100.5}) :  <class 'set'>

In [16]:
print("He said:\n'Python is very easy'")

He said:
'Python is very easy'

In [17]:
print('He said, "Python is very easy"')

He said, "Python is very easy"

In [18]:
print(3 + 6)

9

In [19]:
print(6 + 7.0)

13.0

In [20]:
print(4 * 7)

28

In [21]:
print(49 / 7)  # division always returns float

7.0

##Python Arithmetic Operators
 \+ : Addition	
> x + y

\- : Subtraction
> x - y	

\* : Multiplication
> x * y

/ : Division
> x / y	

\% : Modulus
> x % y	

\** : Exponentiation
> x ** y	

\// : Floor division
> x // y

In [25]:
3 ** 2

9

In [39]:
9 ** 0.5

3.0

In [43]:
9 ** (-1)

0.1111111111111111

In [37]:
69 / 2

34.5

In [35]:
69 // 2

34

In [38]:
69 % 2

1

##Python string Concatenation (+) and Repetition (*)

In [46]:
str1 = 'First string, '
str2 = 'Second string.'
str1 + str2

'First string, Second string.'

In [48]:
str = 'Python '
str * 3

'Python Python Python '

##Python string Indexing and Slicing:

* In Python, indices start from 0. So, the first character corresponds to the index 0!
* Negative index means position from the end; index -1 corresponds to the last character. 
* An index range a:b includes a and excludes b.

In [50]:
str = 'Life is too short, You need Python!'
str[0]

'L'

In [51]:
str[3]

'e'

In [53]:
str[-1]

'!'

In [54]:
str[0:4]

'Life'

In [55]:
str[:17]

'Life is too short'

In [56]:
str[19:]

'You need Python!'


##Some of the useful Python string methods:

* **x.count(str)** : Count the string pattern.
* **x.find(str)** : Position of  the first match. -1 if no match is found.
* **x.index(str)** : Position of the first match. Error if no match is found.
* **len(x)** : String length. This is not a string method but a built-in Python function.
* **x.lstrip()**	Trim left white spaces.
* **x.rstrip()** : Trim right white spaces.
* **x.strip()** : Trim white spaces from both sides.
* **x.replace(str1, str2)** : Replace string from str1 to str2.
* **x.join(str_list)** : Join the string list items using x as connector.
* **x.split(y)** : Split a string by y.
* **x.upper()** : Convert to the upper case.
* **x.lower()** : Convert to the lower case.

In [108]:
x = 'Python'
len(x)				# String length. This is a Python built-in function.

6

In [109]:
x.count('h')				# Counts the 'h' character.

1

In [110]:
x.upper()				# Convert to the uppercase.

'PYTHON'

In [111]:
x.lower()				# Convert to the lowercase.

'python'

In [112]:
x = 'Python'
x.find('o')				# Position of the 'o'.

4

In [113]:
x.find('w')				# Look for the position of the 'w'. No match.

-1

In [114]:
x.index('o')				# Look for the position of the 'o'.

4

In [115]:
x.index('w')				# Look for the position of the 'w'. No match.

ValueError: ignored

In [116]:
x = 'Life is too short, You need Python!'
x.split(' ')                                                                      		  # The output is a list (*).

['Life', 'is', 'too', 'short,', 'You', 'need', 'Python!']

In [117]:
y = x.split(' ')
print("y = ", y)
a = '_'
print("a.join(y) = ", a.join(y))

y =  ['Life', 'is', 'too', 'short,', 'You', 'need', 'Python!']
a.join(y) =  Life_is_too_short,_You_need_Python!

##Python Logical Operators
* **and** : Returns True if both statements are true	
* **or** : Returns True if one of the statements is true
* **not** : Reverse the result, returns False if the result is true

In [78]:
False and True

False

In [86]:
not(2 == 3)

True

In [82]:
2 >= 1

True

In [85]:
5 < 4

False

##Python Variables

* Variables are containers for storing data values.
* Python has no command for declaring a variable.
* A variable is created the moment you first assign a value to it (dynamic type).
* Name of a variable can start with a letter or _
* Variable names are case sensitive

In [96]:
x = 5
print(type(x))

<class 'int'>

In [97]:
y = "hello"
print(type(y))

<class 'str'>

In [99]:
x = y
print(type(x))

<class 'str'>

In [101]:
x = 2
y = 1.5
x = x + y
print(x)

3.5

##Variable Naming Conventions

* Snakecase: Words are delimited by an underscore.
* Pascalcase: Words are delimited by capital letters.
* Camelcase: Words are delimited by capital letters, except the initial word.

In [104]:
my_age = 25  # snake case variable naming

myAge = 24  # camel case variable naming

MyAge = 23  # pascal case

print(MyAge == myAge)

PI = 3.14  # used for constants

False

## Follow practice steps on 'ex_0101.ipynb'
## Follow practice steps on 'ex_0102.ipynb'

##Composite Data Types in Python

* **List**: stores multiple values that may or may not be of the same type.
* **Tuple**: similar to the list with some restrictions. Tuples are immutable objects (*).
* **Dictionary**: associative array.
* **Set**: unordered collection of values without repetition.

**A list contains comma separated values within square brackets.**

In [140]:
a = [ ]				                                         # An empty list.

In [141]:
b = [1, 2, 3]			                                     # A list with numeric values.

In [143]:
c = ['Life', 'is', 'too', 'short']		                 # A list with strings.

In [145]:
d = [1, 2, 'Life', 'is']			                         # A list with mixed data type values.

In [146]:
d = [1, 2, 'Life', 'is']			                         # A list with mixed data type values.

In [147]:
e = [1, 2, ['Life', 'is']]		                         # A nested list.

In [148]:
e[1]				                                           # Indexing of a list.

2

In [150]:
e[2]

['Life', 'is']

In [151]:
e[2][1]

'is'

In [152]:
a = [1, 2, 3, 4, 5]

**Slicing a list:**

In [153]:
a[:2]                                      # From the index 0 to 1 (inclusive).

[1, 2]

In [154]:
a[2:]                       		           # From the index 2 to the end.

[3, 4, 5]

In [155]:
a[:]			          	                     # The whole list!

[1, 2, 3, 4, 5]

In [156]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]

In [157]:
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [158]:
a[3][:2]

['a', 'b']

**Concatenation (+) :**

To join two list objects, use the + operator.

In [159]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

**Repetition (*):**

To repeat a list object by a given number of times, use the * operator.

In [160]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

**Modifying a list: change one or multiple entries :**

In [162]:
a = [1, 2, 3]
a[1] = -1
a

[1, -1, 3]

In [163]:
a[1:3]

[-1, 3]

In [165]:
a[1:3] = [3, 5, 7, 9, 11]
a

[1, 3, 5, 7, 9, 11, 7, 9, 11]

**Modifying a list: careful with the following differences.**

In [166]:
a = [1, 2, 3]
a[1:2] = [-1, -2, -3]			             # Partial change of the list values.
a

[1, -1, -2, -3, 3]

In [167]:
a = [1, 2, 3]
a[1] = [-1, -2, -3]			                # An entry is replaced by another list.
a

[1, [-1, -2, -3], 3]

**Modifying a list: partial removal.**

In [168]:
a = [1, 2, 3, 4, 5]
a[1:3] = []				# Partial removal.
a

[1, 4, 5]

In [169]:
a = [1, 2, 3, 4, 5]
del a[2]				# Removes a specific entry using del keyword
a

[1, 2, 4, 5]

##Python list methods:
* **x.insert(pos, val) :** Insert a value at a specified position.
* **x.remove(val) :** Remove a specific value from a list.
* **x.pop() :** Remove and return the last value of a list.
* **x.count(val) :** Count the appearances of a value in a list.
* **x.extend(y) :** Extend the list x with another list y. Means  x = x + y.
* **x.append(val) :** Appends a value as an entry.
* **x.sort() :** Sorting of a list.
* **x.reverse() :** Reversal of the entry ordering.
* **x.index(val) :** Looks for the position of a specific value. Error if no match is found.
* **len(x) :** Total number of entries in a list. A built-in Python function.

In [170]:
a = [3, 1, 5, 2, 4]
a.sort()	      			# Sorting of a list object (lasting effect).
a

[1, 2, 3, 4, 5]

In [171]:
a = [1, 2, 3]
a.append(4)			    	# A value is added as an entry. 		
a.append([5,6])		 		# A list is added as an entry.
a

[1, 2, 3, 4, [5, 6]]

In [172]:
a = [3, 1, 5, 2, 4]
a.sort(reverse=True)			# Sorting in reverse order.		
a

[5, 4, 3, 2, 1]

In [173]:
a = [1, 2, 3, 4, 5]
a.reverse()				       # Reverse the order. Different from sorting.	
a

[5, 4, 3, 2, 1]

In [177]:
a = [3, 1, 5, 2, 4]
sorted(a)			         	# Displays a sorted view.

[1, 2, 3, 4, 5]

In [178]:
a                       # No permanent changes.

[3, 1, 5, 2, 4]

In [180]:
a.index(5)

2