<a href="https://colab.research.google.com/github/tahereh220/Python-I-II/blob/main/class_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cells
A notebook is a list of cells. Cells contain either explanatory text or executable code and its output. Click a cell to select it.

## Code cells
Below is a **code cell**. Once the toolbar button indicates CONNECTED, click in the cell to select it and execute the contents in the following ways:

* Click the **Play icon** in the left gutter of the cell;
* Type **Cmd/Ctrl+Enter** to run the cell in place;
* Type **Shift+Enter** to run the cell and move focus to the next cell (adding one if none exists); or
* Type **Alt+Enter** to run the cell and insert a new code cell immediately below it.

There are additional options for running some or all cells in the **Runtime** menu.

In [ ]:
a = 10
a

## Text cells
This is a **text cell**. You can **double-click** to edit this cell. Text cells
use markdown syntax. To learn more, see our [markdown
guide](/notebooks/markdown_guide.ipynb).

You can also add math to text cells using [LaTeX](http://www.latex-project.org/)
to be rendered by [MathJax](https://www.mathjax.org). Just place the statement
within a pair of **\$** signs. For example `$\sqrt{3x-1}+(1+x)^2$` becomes
$\sqrt{3x-1}+(1+x)^2.$

##Creating a Comment
Comments starts with a #, and Python will ignore them:

In [ ]:
#This is a comment
print("Hello, World!")

##Python Data Types
Variables can store data of different types.
Python has the following data types built-in by default, in these categories:

*   Text Type: **str**
>\n : Line change.
> \t : Tab.
> \\ : Backslash character.
\' : Single quotation.
\" : Double quotation.
\r : Carriage return.
\a : Bell.
\b : Back space.



*   Numeric Types: **int, float, complex**
*   Boolean Type: **bool**
*   Sequence Types: **list, tuple, range**
*   Mapping Type: **dict**
*   Set Types: **set, frozenset**
*   Binary Types: **bytes, bytearray, memoryview**

In [ ]:
print("type(´Hi´) : ", type("Hi!"))
print("type(5) : ", type(5))
print("type(5.3) : ", type(5.3))
print("type(5j) : ", type(5j))
print("type(True) : ", type(True))
print("type(False) : ", type(False))

type(´Hi´) :  <class 'str'>
type(5) :  <class 'int'>
type(5.3) :  <class 'float'>
type(5j) :  <class 'complex'>
type(True) :  <class 'bool'>
type(False) :  <class 'bool'>

In [ ]:
print(3 + 6)

In [ ]:
print(6 + 7.0)

13.0

In [ ]:
print(4 * 7)

28

In [ ]:
print(49 / 7)  # division always returns float

7.0

##Python Arithmetic Operators
Variables can store data of different types.
Python has the following data types built-in by default, in these categories:

*   Text Type: **str**
*   Numeric Types: **int, float, complex**
*   Boolean Type: **bool**
*   Sequence Types: **list, tuple, range**
*   Mapping Type: **dict**
*   Set Types: **set, frozenset**
*   Binary Types: **bytes, bytearray, memoryview**

In [ ]:
print("type(´Hi´) : ", type("Hi!"))
print("type(5) : ", type(5))
print("type(5.3) : ", type(5.3))
print("type(5j) : ", type(5j))
print("type(True) : ", type(True))